@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bagroundlousa.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container-a {
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    
}

.container-b {
    background-color: #101010;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    border-radius: 20px;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
}

h1 {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: #f5f5dc;
    
    animation: fromtop .7s .2s backwards;
}

img {
    height: 100px;
    
}

button {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%);
    width: 100px;
    height: 50px;
    margin: 2px;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    border: 1px solid dimgray;
    border-radius: 5px;
}

button:disabled{
    cursor: not-allowed;
}

button:hover {
    transform: scale(1.3);
    background-color: brown;
}

@keyframes fromtop {
    from {
        opacity: 0; 
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes frombottom {
    from {
        opacity: 0; 
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


